language: php

sudo: false

git:
  depth: 2

matrix:
  include:
    - php: 7.0
    - php: 7.1
    - php: nightly
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - phpenv config-rm xdebug.ini || true
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction

script:
  - composer test
